.keyBoard {
  display: flex;
  width: 290px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  width: 90px;
  height: 70px;
  border-radius: 14px;
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(148, 157, 233);
  border: 2px solid white;
  color: rgb(12, 12, 12);
  transition: all 0.3s ease;
}

.buttons:hover {
  background-color: rgba(148, 157, 233, 0.596);
  transition: all 0.3s ease;
}

.buttons:active {
  transition: all 0.2s ease;
  background-color: rgb(255, 255, 255);
}
.buttons:last-child {
  padding-top: 10px;
}
